---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import {Icon} from 'astro-icon';


const name= 'Gitopia';
const icon= 'https://raw.githubusercontent.com/GloryDAO/image-project/main/gitopia.png';
const chain= 'gitopia-janus-testnet-2';
const version= 'v0.1.0';
const moniker= '0xRevo';
const description= 'Gitopia is the next-generation Code Collaboration Platform fuelled by a decentralized network and interactive token economy. It is designed to optimize the open-source software development process through collaboration, transparency, and incentivization.';

const social = [
	{ label: 'Website', icon: 'tabler:world', href: 'https://gitopia.com' },
	{ label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://twitter.com/gitopiaDAO'},
	{ label: 'Discord', icon: 'tabler:brand-discord', href: 'https://discord.com/invite/aqsKW3hUHD' },
	{ label: 'Telegram', icon: 'tabler:brand-telegram', href: 'https://t.me/Gitopia' },
];

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};

const items = [

	{
		title: 'Explorer',
		Link: 'https://explorer.revonode.xyz/gitopia',
	},
	{
		title: 'Setup Guide',
		Link: 'https://revonode.xyz/testnet/gitopia/setup',
	},
	{
		title: 'Api',
		Link: 'https://revonode.xyz/testnet/gitopia/api',
	},
	{
		title: 'Rpc',
		Link: 'https://revonode.xyz/testnet/gitopia/rpc',
	},
	{
		title: 'gRPC',
		Link: 'https://revonode.xyz/testnet/gitopia/grpc',
	},
	{
		title: 'Peers',
		Link: 'https://revonode.xyz/testnet/gitopia/peers',
	},
	{
		title: 'Statesync',
		Link: 'https://revonode.xyz/testnet/gitopia/statesync',
	},
	{
		title: 'Addrbook',
		Link: 'https://revonode.xyz/testnet/gitopia/addrbook',
	},
	{
		title: 'Genesis File',
		Link: 'https://revonode.xyz/testnet/gitopia/grpc',
	},
	{
		title: 'Snapshot',
		Link: 'https://revonode.xyz/testnet/gitopia/snapshot',
	},	
]	
---

<Layout {meta}>
	<section>
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="py-10">
				<div class="text-center items-center pb-5 md:pb-5 max-w-5xl mx-auto">
					<img src={icon} class="w-20 h-20 inline-block rounded-full align-text-bottom mb-1" />           
					<h1 class="text-3xl font-bold leading-tighter tracking-tighter font-mono">
					{name}
					</h1>
					<div class="flex mb-7 max-w-2xl px-4 mx-auto items-center justify-center gap-5">
						<ul class="flex">
							{
								social.map(({ label, href, icon }) => (
							
								<li>
									<a
										class="text-gray-800 hover:text-white hover:bg-gradient-to-t from-blue-400 to-sky-300 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2 inline-flex items-center"
										aria-label={label}
										href={href}
										target="_blank"
									>
										<Icon name={icon} class="w-6 h-6" />
									</a>
								</li>
								))
							}
							</ul>
					</div>
					<div class="text-left max-w-2xl mx-auto mb-1 text-md">
						<span class="font-bold">Chain ID :</span> {chain} <br/>				
						<span class="font-bold"> Node Version :</span> {version} <br/>
						<span class="font-bold font-heading"> My Moniker : </span> {moniker} <br/>
					</div>
					<div class="text-md indent-5 break-normal text-left lg:text-justify md:text-justify max-w-2xl mx-auto">
						{description}
					</div>
					
				</div>
			
			<section class="m-5 mt-2 pt-7 border-t-2 ">
				<h1 class="font-bold font-sans text-xl lg:text-2xl md:text-2xl text-center">
					Community Tools & Services
				</h1>
			</section>

				<div class="grid gap-6 md:grid-cols-3 lg:grid-cols-4 items-start my-10 mb-32">
					{
						items.map(({ title , Link }) => (
						<a href={Link}>  
							<div class="relative flex flex-col items-center justify-center hover:shadow-lg transition rounded-[7px] border border-slate-500 py-6 px-4 hover:text-white bg-white hover:bg-gradient-to-t from-blue-400 to-sky-300">
								<div class="flex items-center text-center">					                   
									<div class="text-xl font-mono text-center">{title}</div>                                 
								</div>
							</div>
						</a>  
						))
					}
				</div>
			</div>
		</div>
	</section>
</Layout>