---
import Layout from '~/layouts/PageLayout.astro';

import type { MetaSEO } from '~/types';

export interface Props {}

const { frontmatter } = Astro.props;

const meta: MetaSEO = {
  title: frontmatter?.title,
};
---

<Layout {meta}>
  <section class="max-w-6xl mx-auto px-4 py-10 sm:px-6">
    <div class="text-center pb-5 max-w-5xl mx-auto">
      <img src={frontmatter.logo} class="rounded-full w-20 h-20 mb-2 inline-block align-text-bottom" />           
      <h1 class="text-4xl font-bold leading-tighter tracking-tighter mb-1 font-mono">
        {frontmatter.title}
      </h1>
      <div class="px-4 sm:px-3 py-2 text-md text-center font-medium">
        <span class="font-bold">Chain-id:</span> {frontmatter.chain} |							
        <span class="font-bold">Node version:</span> {frontmatter.version}
      </div>
    </div>
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <slot />
    </div>
  </section>
</Layout>
